@model BusinessLogicLayer.Model.Question

@{
    ViewBag.Title = "EditQuestion";
}

<h2>EditQuestion</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Question</h4>
        <hr />
        @Html.ValidationSummary()
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.TestName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TestName, new SelectList(new[] { "Programming", "Mathematics" }))
                @Html.Label("Here you must choose test name, which will contain this question")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DifficultyLevel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DifficultyLevel, new SelectList(new[] { "1", "2", "3", "4", "5", "6", "7", "8", "9", "10" }))
                @Html.Label("1-easy, 2-harder and so on")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Grade, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Grade)
                @Html.ValidationMessageFor(model => model.Grade)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TestQuestion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TestQuestion)
                @Html.ValidationMessageFor(model => model.TestQuestion)
            </div>
        </div>

        @for (int i = 0; i < Model.QuestionAnswers.Count(); i++)
        {
            <div class="form-group">
                @Html.Label("Answer", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("InputAnswers")
                </div>
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.CorrectAnswer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CorrectAnswer)
                @Html.ValidationMessageFor(model => model.CorrectAnswer)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Questions")
</div>
